
*.bin

*.lock

*.bat

.idea/misc.xml

.idea/vcs.xml

.build/

.idea/

*.jar

build/tmp/compileJava/

build/resources/main/db/migration/

build/resources/main/

build/classes/java/main/

.gradle/6.1/gc.properties

.gradle/6.9/gc.properties

.gradle/vcs-1/gc.properties

src/.DS_Store

src/main/.DS_Store

src/main/resources/.DS_Store

.DS_Store
